In [5]:
import pandas as pd
df=pd.read_csv('Omnify_Analyst.csv')

In [6]:
df

,Week,Campaign,Ad group,Keywordtype,Search Keyword,Currency,Clicks,Impressions,Cost,Leads,Prospects,Payment,Payment Date,Country
0,25-Jan-21,EK_Generic_Swimming,Pool_Reservation_System_Exact,Exact,pool reservation system,USD,2,17,38.33,0,1,$980,3-Feb-21,USA
1,25-Jan-21,EK_Generic_Swimming,Pool_Booking_App_Exact,Exact,pool booking app,USD,1,13,11.70,0,0,NaN,NaN,USA
2,25-Jan-21,EK_Generic_Quad-Tok_Yoga,Yoga_Studio_Booking_Software_Broad,Broad,yoga studio booking software,USD,4,154,45.13,0,1,"$1,188",13-Mar-21,USA
3,25-Jan-21,EK_Generic_Swimming,Pool_Scheduling_Software_Phrase,Phrase,pool scheduling software,USD,2,8,23.91,0,0,NaN,NaN,USA
4,25-Jan-21,EK_Generic_Swimming_UK,Pool_Reservation_Software_Broad,Broad,pool reservation software,USD,2,13,4.89,0,0,NaN,NaN,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,3-May-21,EK_Generic_Swimming,Pool_Reservation_Software_Broad,Broad,pool reservation software,USD,0,1,0.00,0,0,NaN,NaN,USA
414,3-May-21,EK_Generic_Quad-Tok_Yoga,Yoga_Studio_Booking_Software_Exact,Exact,yoga studio booking software,USD,0,6,0.00,0,0,NaN,NaN,USA
415,3-May-21,EK_Generic_Tri-Tok_Reservation,Reservation_Management_System_Exact,Exact,reservation management system,USD,0,0,0.00,0,0,NaN,NaN,USA
416,3-May-21,EK_Generic_Quad-Tok_Pilates,Pilates_Studio_Booking_Software_Broad,Broad,pilates studio booking software,USD,0,1,0.00,0,0,NaN,NaN,USA
417,3-May-21,EK_Generic_Quad-Tok_Pilates,Pilates_Studio_Management_Software_Exact,Exact,pilates studio management software,USD,0,3,0.00,0,0,NaN,NaN,USA

In [7]:
df['Payment']=df['Payment'].str.replace('$','')
df['Payment']=df['Payment'].str.replace(',','')
df['Payment'] = pd.to_numeric(df['Payment'])

C:\Users\SIVAPA~1\AppData\Local\Temp/ipykernel_27352/4213942729.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Payment']=df['Payment'].str.replace('$','')

In [8]:
df

,Week,Campaign,Ad group,Keywordtype,Search Keyword,Currency,Clicks,Impressions,Cost,Leads,Prospects,Payment,Payment Date,Country
0,25-Jan-21,EK_Generic_Swimming,Pool_Reservation_System_Exact,Exact,pool reservation system,USD,2,17,38.33,0,1,980.0,3-Feb-21,USA
1,25-Jan-21,EK_Generic_Swimming,Pool_Booking_App_Exact,Exact,pool booking app,USD,1,13,11.70,0,0,NaN,NaN,USA
2,25-Jan-21,EK_Generic_Quad-Tok_Yoga,Yoga_Studio_Booking_Software_Broad,Broad,yoga studio booking software,USD,4,154,45.13,0,1,1188.0,13-Mar-21,USA
3,25-Jan-21,EK_Generic_Swimming,Pool_Scheduling_Software_Phrase,Phrase,pool scheduling software,USD,2,8,23.91,0,0,NaN,NaN,USA
4,25-Jan-21,EK_Generic_Swimming_UK,Pool_Reservation_Software_Broad,Broad,pool reservation software,USD,2,13,4.89,0,0,NaN,NaN,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,3-May-21,EK_Generic_Swimming,Pool_Reservation_Software_Broad,Broad,pool reservation software,USD,0,1,0.00,0,0,NaN,NaN,USA
414,3-May-21,EK_Generic_Quad-Tok_Yoga,Yoga_Studio_Booking_Software_Exact,Exact,yoga studio booking software,USD,0,6,0.00,0,0,NaN,NaN,USA
415,3-May-21,EK_Generic_Tri-Tok_Reservation,Reservation_Management_System_Exact,Exact,reservation management system,USD,0,0,0.00,0,0,NaN,NaN,USA
416,3-May-21,EK_Generic_Quad-Tok_Pilates,Pilates_Studio_Booking_Software_Broad,Broad,pilates studio booking software,USD,0,1,0.00,0,0,NaN,NaN,USA
417,3-May-21,EK_Generic_Quad-Tok_Pilates,Pilates_Studio_Management_Software_Exact,Exact,pilates studio management software,USD,0,3,0.00,0,0,NaN,NaN,USA

In [9]:
Amount_spent = df.pivot_table(index='Keywordtype', values='Cost', aggfunc='sum')
Amount_spent

                Cost
Keywordtype
Broad        1264.80
Exact         580.33
Phrase        943.55

In [10]:
Amount_earned = df.pivot_table(index='Keywordtype', values='Payment', aggfunc='sum')
Amount_earned['profit']=Amount_earned['Payment']-Amount_spent['Cost']
Amount_earned

             Payment   profit
Keywordtype
Broad         5536.0  4271.20
Exact         2768.0  2187.67
Phrase        3576.0  2632.45

In [11]:
print("The Keyword with maximum profit is",Amount_earned['profit'].index.max())

The Keyword with maximum profit is Phrase